[package]
name = "yara2"
version = "0.1.0"
authors = ["russ <russ@infocyte.com>"]
edition = "2018"
keywords = ["yara"]
categories = ["api-bindings"]
description = "Easy Rust bindings for VirusTotal/yara"

[dependencies]
err-derive = "*"
lazy_static = "*"
serde = { version = "*", features = ["derive"] }

[build-dependencies]
bindgen = "*"

[features]
default = ["static"]
dynamic = []
static = []
with-bindgen = []
