[package]
name = "yara2"
version = "0.1.0"
authors = ["russ <russ@infocyte.com>"]
edition = "2018"
keywords = ["yara"]
categories = ["api-bindings"]
description = "Easy Rust bindings for VirusTotal/yara"
build = "build.rs"

[dependencies]
err-derive = "0.1.6"
lazy_static = "*"
serde = { version = "*", features = ["derive"] }

[build-dependencies]
bindgen = { version = "*", default-features = false, optional = true, features = [ "which-rustfmt" ] }

[features]
default = ["static"]
dynamic = []
static = []
with-bindgen = [ "bindgen" ]
